.component6-container {
  width: 100%;
  display: flex;
  position: relative;
  justify-content: center;
  background-color: var(--dl-color-theme-neutral-light);
}
.component6-navbar-interactive {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.component6-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.component6-links1 {
  gap: var(--dl-space-space-twounits);
  flex: 1;
  display: flex;
  align-items: center;
  margin-left: var(--dl-space-space-twounits);
  flex-direction: row;
  justify-content: flex-start;
}
.component6-buttons1 {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-items: center;
  margin-left: var(--dl-space-space-twounits);
}
.component6-sign-up {
  display: flex;
  animation-name: rubberBand;
  flex-direction: row;
  animation-delay: 0s;
  animation-duration: 300ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.component6-action21 {
  display: flex;
  animation-name: rubberBand;
  flex-direction: row;
  animation-delay: 0s;
  animation-duration: 300ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.component6-burger-menu {
  display: none;
}
.component6-icon1 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.component6-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: var(--dl-space-space-twounits);
  z-index: 100;
  position: absolute;
  flex-direction: column;
  background-color: var(--dl-color-theme-neutral-light);
}
.component6-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.component6-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.component6-logo {
  height: 3rem;
}
.component6-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.component6-icon3 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.component6-links2 {
  gap: var(--dl-space-space-unit);
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.component6-buttons2 {
  gap: var(--dl-space-space-twounits);
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: center;
}
.component6-fragment10 {
  display: contents;
}
.component6-text14 {
  display: inline-block;
}
.component6-fragment11 {
  display: contents;
}
.component6-text15 {
  display: inline-block;
}
.component6-fragment12 {
  display: contents;
}
.component6-text16 {
  display: inline-block;
}
.component6-fragment13 {
  display: contents;
}
.component6-text17 {
  display: inline-block;
}
.component6-fragment14 {
  display: contents;
}
.component6-text18 {
  display: inline-block;
}
.component6-fragment15 {
  display: contents;
}
.component6-text19 {
  display: inline-block;
}
.component6-fragment16 {
  display: contents;
}
.component6-text20 {
  display: inline-block;
}
.component6-fragment17 {
  display: contents;
}
.component6-text21 {
  display: inline-block;
}
.component6-fragment18 {
  display: contents;
}
.component6-text22 {
  display: inline-block;
  text-decoration: none;
}
.component6-fragment19 {
  display: contents;
}
.component6-text23 {
  display: inline-block;
}
.component6-fragment20 {
  display: contents;
}
.component6-text24 {
  display: inline-block;
}
.component6-fragment21 {
  display: contents;
}
.component6-text25 {
  display: inline-block;
}
.component6-fragment22 {
  display: contents;
}
.component6-text26 {
  display: inline-block;
}
.component6-fragment23 {
  display: contents;
}
.component6-text27 {
  display: inline-block;
  text-decoration: none;
}
@media(max-width: 767px) {
  .component6-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .component6-desktop-menu {
    display: none;
  }
  .component6-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media(max-width: 479px) {
  .component6-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .component6-mobile-menu {
    padding: var(--dl-space-space-unit);
  }
}
