<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Spotless Hungry Crocodile</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <meta property="twitter:card" content="summary_large_image" />

    <style data-tag="reset-style-sheet">
      html {  line-height: 1.15;}body {  margin: 0;}* {  box-sizing: border-box;  border-width: 0;  border-style: solid;}p,li,ul,pre,div,h1,h2,h3,h4,h5,h6,figure,blockquote,figcaption {  margin: 0;  padding: 0;}button {  background-color: transparent;}button,input,optgroup,select,textarea {  font-family: inherit;  font-size: 100%;  line-height: 1.15;  margin: 0;}button,select {  text-transform: none;}button,[type="button"],[type="reset"],[type="submit"] {  -webkit-appearance: button;}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner {  border-style: none;  padding: 0;}button:-moz-focus,[type="button"]:-moz-focus,[type="reset"]:-moz-focus,[type="submit"]:-moz-focus {  outline: 1px dotted ButtonText;}a {  color: inherit;  text-decoration: inherit;}input {  padding: 2px 4px;}img {  display: block;}html { scroll-behavior: smooth  }
    </style>
    <style data-tag="default-style-sheet">
      html {
        font-family: Inter;
        font-size: 16px;
      }

      body {
        font-weight: 400;
        font-style:normal;
        text-decoration: none;
        text-transform: none;
        letter-spacing: normal;
        line-height: 1.15;
        color: var(--dl-color-theme-neutral-dark);
        background: var(--dl-color-theme-neutral-light);

        fill: var(--dl-color-theme-neutral-dark);
      }
    </style>
    <link
      rel="stylesheet"
      href="https://unpkg.com/animate.css@4.1.1/animate.css"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:wght@200;300;400;500;600;700;800&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/@teleporthq/teleport-custom-scripts/dist/style.css"
    />
    <style>
      @keyframes fade-in-left {
        0% {
          opacity: 0;
          transform: translateX(-20px);
        }
        100% {
          opacity: 1;
          transform: translateX(0);
        }
      }
    </style>
  </head>
  <body>
    <link rel="stylesheet" href="../style.css" />
    <div>
      <link href="./component4.css" rel="stylesheet" />
      <div id="" class="component4-container">
        <pricing23-wrapper class="pricing23-wrapper">
          <!--Pricing23 component-->
          <div class="pricing23-pricing23 thq-section-padding">
            <div class="pricing23-max-width thq-section-max-width">
              <div class="pricing23-section-title">
                <span>
                  <fragment class="component4-fragment10">
                    <span class="component4-text10 thq-body-small">
                      Choose the perfect plan for you
                    </span>
                  </fragment>
                </span>
                <div class="pricing23-content">
                  <h2>
                    <fragment class="component4-fragment11">
                      <span class="component4-text11 thq-heading-2">
                        Investment plan
                      </span>
                    </fragment>
                  </h2>
                  <p>
                    <fragment class="component4-fragment12">
                      <span class="component4-text12 thq-body-large">
                        <br />
                        <span>
                          "Unlock your financial potential with our expertly
                          crafted investment plans designed for optimal growth
                          and security."
                        </span>
                      </span>
                    </fragment>
                  </p>
                </div>
              </div>
              <div class="pricing23-tabs">
                <button
                  class="pricing23-button1 thq-button-filled thq-button-animated"
                >
                  <span>
                    <fragment class="component4-fragment13">
                      <span class="component4-text15 thq-body-small">
                        Monthly
                      </span>
                    </fragment>
                  </span>
                </button>
                <button
                  class="pricing23-button2 thq-button-outline thq-button-animated"
                >
                  <span>
                    <fragment class="component4-fragment14">
                      <span class="component4-text16 thq-body-small">
                        Yearly
                      </span>
                    </fragment>
                  </span>
                </button>
              </div>
              <div class="pricing23-container1">
                <div class="pricing23-column1 thq-card">
                  <div class="pricing23-price1">
                    <div class="pricing23-price2">
                      <p>
                        <fragment class="component4-fragment18">
                          <span class="component4-text20 thq-body-large">
                            Basic plan
                          </span>
                        </fragment>
                      </p>
                      <h3>
                        <fragment class="component4-fragment19">
                          <span class="component4-text21 thq-heading-3">
                            3 month
                          </span>
                        </fragment>
                      </h3>
                    </div>
                    <div class="pricing23-list1">
                      <div class="pricing23-list-item10">
                        <svg viewBox="0 0 1024 1024" class="thq-icon-small">
                          <path
                            d="M384 690l452-452 60 60-512 512-238-238 60-60z"
                          ></path>
                        </svg>
                        <span>
                          <fragment class="component4-fragment24">
                            <span class="component4-text26 thq-body-small">
                              <span>Minimum Deposit Amount&nbsp;</span>
                              <br />
                              <span>50000Rs</span>
                              <br />
                            </span>
                          </fragment>
                        </span>
                      </div>
                      <div class="pricing23-list-item11">
                        <svg viewBox="0 0 1024 1024" class="thq-icon-small">
                          <path
                            d="M384 690l452-452 60 60-512 512-238-238 60-60z"
                          ></path>
                        </svg>
                        <span>
                          <fragment class="component4-fragment25">
                            <span class="component4-text31 thq-body-small">
                              6% Return on Investment
                            </span>
                          </fragment>
                        </span>
                      </div>
                    </div>
                  </div>
                  <button
                    class="pricing23-button3 thq-button-outline thq-button-animated"
                  >
                    <span>
                      <fragment class="component4-fragment15">
                        <span class="component4-text17 thq-body-small">
                          Invest Now
                        </span>
                      </fragment>
                    </span>
                  </button>
                </div>
                <div class="pricing23-column2 thq-card">
                  <div class="pricing23-price3">
                    <div class="pricing23-price4">
                      <p>
                        <fragment class="component4-fragment20">
                          <span class="component4-text22 thq-body-large">
                            Business plan
                          </span>
                        </fragment>
                      </p>
                      <h3>
                        <fragment class="component4-fragment21">
                          <span class="component4-text23 thq-heading-3">
                            6 month
                          </span>
                        </fragment>
                      </h3>
                    </div>
                    <div class="pricing23-list2">
                      <div class="pricing23-list-item12">
                        <svg viewBox="0 0 1024 1024" class="thq-icon-small">
                          <path
                            d="M384 690l452-452 60 60-512 512-238-238 60-60z"
                          ></path>
                        </svg>
                        <span>
                          <fragment class="component4-fragment26">
                            <span class="component4-text32 thq-body-small">
                              <span>100000Rs</span>
                              <span>Minimum Deposit Amount</span>
                              <br />
                              <br />
                            </span>
                          </fragment>
                        </span>
                      </div>
                      <div class="pricing23-list-item13">
                        <svg viewBox="0 0 1024 1024" class="thq-icon-small">
                          <path
                            d="M384 690l452-452 60 60-512 512-238-238 60-60z"
                          ></path>
                        </svg>
                        <span>
                          <fragment class="component4-fragment27">
                            <span class="component4-text37 thq-body-small">
                              9% Return on Investment
                            </span>
                          </fragment>
                        </span>
                      </div>
                      <div class="pricing23-list-item14">
                        <svg viewBox="0 0 1024 1024" class="thq-icon-small">
                          <path
                            d="M384 690l452-452 60 60-512 512-238-238 60-60z"
                          ></path>
                        </svg>
                        <span>
                          <fragment class="component4-fragment28">
                            <span class="component4-text38 thq-body-small">
                              Comming Soon&nbsp;
                            </span>
                          </fragment>
                        </span>
                      </div>
                      <div class="pricing23-list-item15">
                        <svg viewBox="0 0 1024 1024" class="thq-icon-small">
                          <path
                            d="M384 690l452-452 60 60-512 512-238-238 60-60z"
                          ></path>
                        </svg>
                        <span>
                          <fragment class="component4-fragment29">
                            <span class="component4-text39 thq-body-small">
                              Comming Soon
                            </span>
                          </fragment>
                        </span>
                      </div>
                    </div>
                  </div>
                  <button
                    class="pricing23-button4 thq-button-filled thq-button-animated"
                  >
                    <span>
                      <fragment class="component4-fragment16">
                        <span class="component4-text18 thq-body-small">
                          Invest Now
                        </span>
                      </fragment>
                    </span>
                  </button>
                </div>
                <div class="pricing23-column3 thq-card">
                  <div class="pricing23-price5">
                    <div class="pricing23-price6">
                      <p>
                        <fragment class="component4-fragment22">
                          <span class="component4-text24 thq-body-large">
                            Enterprise plan
                          </span>
                        </fragment>
                      </p>
                      <h3>
                        <fragment class="component4-fragment23">
                          <span class="component4-text25 thq-heading-3">
                            12 month
                          </span>
                        </fragment>
                      </h3>
                    </div>
                    <div class="pricing23-list3">
                      <div class="pricing23-list-item16">
                        <svg viewBox="0 0 1024 1024" class="thq-icon-small">
                          <path
                            d="M384 690l452-452 60 60-512 512-238-238 60-60z"
                          ></path>
                        </svg>
                        <span>
                          <fragment class="component4-fragment30">
                            <span class="component4-text40 thq-body-small">
                              <br />
                              <span>Minimum Deposit Amount</span>
                              <br />
                              <span>200000Rs</span>
                            </span>
                          </fragment>
                        </span>
                      </div>
                      <div class="pricing23-list-item17">
                        <svg viewBox="0 0 1024 1024" class="thq-icon-small">
                          <path
                            d="M384 690l452-452 60 60-512 512-238-238 60-60z"
                          ></path>
                        </svg>
                        <span>
                          <fragment class="component4-fragment31">
                            <span class="component4-text45 thq-body-small">
                              18% Return on Investment
                            </span>
                          </fragment>
                        </span>
                      </div>
                      <div class="pricing23-list-item18">
                        <svg viewBox="0 0 1024 1024" class="thq-icon-small">
                          <path
                            d="M384 690l452-452 60 60-512 512-238-238 60-60z"
                          ></path>
                        </svg>
                        <span>
                          <fragment class="component4-fragment32">
                            <span class="component4-text46 thq-body-small">
                              Comming Soon
                            </span>
                          </fragment>
                        </span>
                      </div>
                      <div class="pricing23-list-item19">
                        <svg viewBox="0 0 1024 1024" class="thq-icon-small">
                          <path
                            d="M384 690l452-452 60 60-512 512-238-238 60-60z"
                          ></path>
                        </svg>
                        <span>
                          <fragment class="component4-fragment33">
                            <span class="component4-text47 thq-body-small">
                              Comming Soon
                            </span>
                          </fragment>
                        </span>
                      </div>
                      <div class="pricing23-list-item20">
                        <svg viewBox="0 0 1024 1024" class="thq-icon-small">
                          <path
                            d="M384 690l452-452 60 60-512 512-238-238 60-60z"
                          ></path>
                        </svg>
                        <span>
                          <fragment class="component4-fragment34">
                            <span class="component4-text48 thq-body-small">
                              Comming Soon
                            </span>
                          </fragment>
                        </span>
                      </div>
                    </div>
                  </div>
                  <button
                    class="pricing23-button5 thq-button-filled thq-button-animated"
                  >
                    <span>
                      <fragment class="component4-fragment17">
                        <span class="component4-text19 thq-body-small">
                          Invest now
                        </span>
                      </fragment>
                    </span>
                  </button>
                </div>
              </div>
              <div class="pricing23-container2"></div>
            </div>
          </div>
        </pricing23-wrapper>
      </div>
    </div>
    <script
      data-section-id="navbar"
      src="https://unpkg.com/@teleporthq/teleport-custom-scripts"
    ></script>
    <script
      defer=""
      src="https://unpkg.com/@teleporthq/react-components/dist/animate-on-reveal.umd.js"
    ></script>
  </body>
</html>
